<div class="container pt-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6">
      <h2 class="mb-4">Tell <strong>Freddy</strong> about your daily commute.</h2>
      <%= simple_form_for @journey do |f| %>
        <%= f.input :origin_address, placeholder: "Where do you start from?", label: false %>
        <%= f.input :destination_address, placeholder: "Where do you have to go to?", label: false %>
        <%= f.input :arrival_time %>

        <h3>How can you get there?</h3>
        <%= f.input :car %>
        <%= f.input :bicycle %>
        <%= f.input :public_transport %>
        <% unless @journey.primary %>
          <%= f.input :duration %>
        <% end %>
        <%= f.submit class: "btn btn-freddy-primary" %>
      <% end %>
    </div>
  </div>
</div>
